
<div class="profile-container group">
  <br>
  <p>about</p>
  <div id="about">
  <section>The idea for Test-ify came after taking a test that one of my professors had 
    built in Microsoft Word. I thought about how inefficent and frustrating it must be      
    to build a test, so I set out to build a better way.<br><br>
    Test-ify is built for teachers like you and is always getting better. If you 
    have any problems or if you have an idea on how I can make it better please email me! I 
    would love to hear what features would make your life easier.
  </section>
  <br>
  <section id="my-email">My Email: joshuahill44@gmail.com</section>

  </div>
</div>

<div class="hidden-footer">
</div>