<h1>Create Profile</h1>

<form action="<%= user_url(current_user) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <%= render partial: "shared/profile_form", locals: { user: current_user} %>

  <%= render partial: "shared/csrf" %>

  <input type="submit" value="Finish">
</form>


