<h1 class="sign_up">Sign Up</h1>

<form action="<%= users_url %>" method="post">

  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]"><br>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]"><br>

  <label for="password_confirmation">Confirm Password</label>
  <input type="password" id="password_confirmation"
         name="user[password_confirmation]"><br><br>

  <%= render partial: "shared/csrf" %>

  <input type="submit" value="Sign Up">
  
  