<section class="sign-up-form">
	<h1 class="sign_up">Sign Up</h1>

	<form action="<%= users_url %>" method="post">

	<input type="text" id="username" name="user[username]" placeholder="Username"><br>

	<input type="password" id="password" name="user[password]" placeholder="Password"><br>

	<input type="password" id="password_confirmation"
	     name="user[password_confirmation]" placeholder="Confirm Passoword"><br><br>

	<%= render partial: "shared/csrf" %>

	<input type="submit" value="Sign Up" class="sign-up-button">

</section>