/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

/* resets */

body, header, nav, div, ul, li, a, img, input, textarea, label, p {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}

/* Universal Styles */

body {
	background-color: #AAA;
}


