/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h1, form, input{
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
	background-color: #AAA;
}

.container {
	width: 100%;
}

.content {
	width: 100%;
	background-color: #FFF;
	margin: auto;
	border: 1px solid #AAA;
	height: 300px;
}

/* Sign Up (new_users_url) */

.sign-up-form {
	display: block;
	width: 300px;
	float: right;
	margin: 80px 50px 0 0;
    background-color: #67BCDB;
	border-radius: 10px;
}

.sign_up {
	text-align: center;
  	font-family: arial;
}

.sign-up-form > form {
  text-align: center;
  padding: 20px;
  color: black;
  font-family: arial;
}

.sign-up-form > form > input {
	border-radius: 10px;
	padding: 5px;
	margin-top: 3px;
	width: 90%;
}

.sign-up-form > form > .sign-up-button {
	width: 100px;
	background-color: #E44424;
	border-radius: 0;
}

