.exams-container {
  width: 90%;
	min-width: 700px;
  max-width: 1000px;
	margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  min-height: 200px;
	background: white;
  box-shadow: 10px 10px 10px #888888;
}

.search-sub-nav {
  width: 100%;
  background: #67BCDB;
}

.search > form {
  width: 800px;
  margin: auto;
  padding: 8px;
}

.search > form > label {
  font-family: arial;
  color: white;
  margin-left: 15px;
}

.search > form > input[type=text] {
  padding: 5px;
  border-radius: 4px;
}

.search > form > input[type=submit] {
  width: 70px;
  height: 22px;
  margin-left: 15px;
  font-family: arial;
  font-size: 14px;
  border-radius: 4px;
  color :#FFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44424), to(#F06C41));
}

.search > form > input[type=submit]:hover {
  background: #E44424;
  cursor: pointer;
}

/* Exams Container */

.exams-container > ul {
	padding-left: 25px;
	margin-top: 10px;
}
.exams-container > ul > li {
	width: 85%;
	padding: 8px;
  border-bottom: 1px solid #AAA;
}

.exams-container > ul > li > a {
	color: #AAA;
	font-family: arial;
}

.exams-container > ul > li > a > span:first-child {
  font-size: 40px;
  font-weight: bold;
}

.exams-container > ul > li:hover > a > span:first-child {
  color: #A2AB58;
}

.exams-container > ul > li > a > span {
  font-weight: bold;
  font-size: 18px;
}


