.exams-container {
	width: 90%;
	margin: auto;
	margin-top: 20px;
  padding-top: 10px;
  background: white;
  box-shadow: 10px 10px 10px #888888;
}

.exams-container > .search {
	width: 95%;
	margin: auto;
	background: #A2AB58;
	border-radius: 4px;
	font-family: arial;
	color: white;
}

.exams-container > .search > form {
  padding: 3px;
}

.exams-container > .search > form > input[type=text] {
	font-family: arial;
  padding: 5px;
}

.exams-container > .search > form > input[type=submit] {
	width: 50px;
	margin: 15px 0 0 5px;
	padding: 8px;
	border-radius: 5px;
 	color :#FFF;
  font-size: 10px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44424), to(#F06C41));
  border: 0;
}

.exams-container > ul {
	margin-top: 20px;
  width: 90%;
  margin: auto;
}

.exams-container > ul > li {
  margin-top: 10px;
	background-color:  rgba(103, 188, 219, 0.90);
	border-radius: 4px;
	padding: 8px;
}

.exams-container > ul > li:first-child {
  margin-top: 20px;
}

.exams-container > ul > li > a {
	color: white;
}
