<!-- resets -->

header, nav, div, ul, li, a, img {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}


<!-- navbar -->

header {
	width: 100%;
}

nav {
	height: 40px;
	background-color: #252525;	
}

nav .logo {
	float: left;
}

nav .logo img {
	width: 40px;
	height: auto;
	padding: 3px 0 0 10px;
}

nav ul {
	display: block;
	float: right;
	margin: 0px;
}

nav ul li {
	display: block;
	float: left;
	padding: 10px;
	padding-top: 12px;
}

nav ul li a {
	display: block;
	color: #FFF;
	font-family: arial;
}

nav ul li a:hover {
	color: #E44424;
}