/* test show sub nav */

.test-nav-bar {
  display: block;
  width: 100%;
  background: rgba(103, 188, 219, 0.90);
}

.test-nav-bar > p {
  float: left;
  padding: 5px;
  margin: 5px;
  font-family: arial;
  color: white;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44424), to(#F06C41));
  border-radius: 5px;
}

.test-nav-bar > p > a {
  color: white;
  font-size: 15px;
}

.test-nav-bar > p > a:hover {
  background: #E44424;
}

.test-nav-bar > ul {
  float: left;
  margin-left: 5px;
}

.test-nav-bar > ul > li {
  float: left;
}

.test-nav-bar > ul > li > a {
  display: block;
  font-family: arial;
  color: white;
  padding: 7px;
  margin: 3px 0;
  border-left: 1px solid #E44424;
}

.test-nav-bar > ul > li:first-child > a {
  border-left: none;
}

.test-nav-bar > ul > li > a:hover {
  color: #E44424;
}


/* Test Container & Parent Styles*/

.build-test-container {
  width: 70%;
  float: left;
  margin-left: 55px;
  margin-top: 20px;
  background: white;
  box-shadow: 10px 10px 10px #888888;
}

.build-test-container > .form {
	width: 90%;
	margin: auto;
	padding-top: 20px;
    margin-bottom: 20px;
}

