.pro-form-container {
	width: 50%;
	margin:auto;
	background: white;
}

.pro-form-container > h1 {
	display: block;
	font-family: arial;
	padding: 15px 0 0 15px;
}

.pro-form-container > form {
	padding-left: 15px;
}

.pro-form-container > form > input[type=text] {
    padding: 7px;
	margin-bottom: 10px;
	font-family: arial;
	font-size: 15px;
	background-color: transparent;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #67BCDB;
}

.pro-form-container > form > input[type=text]:focus {
	outline: none;
}

.pro-form-container > form > input[type=submit] {
	width: 100px;
	margin: 15px 0;
	padding: 8px;
	border-radius: 5px;
 	color :#FFF;
  	font-size: 15px;
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E44424), to(#F06C41));
  	border: 0;
}