<section class="grade">
	<p>Select Grade</p>
	<select name="exam[grade_level_ids][]">
	  <% GradeLevel.all.each do |grade| %>
	  <option value="<%= grade.id %>"><%= grade.grade_level %></option>
	  <% end %>
	</select>
</section>