<label for="exam_name">Test Name</label>
  <input type="text" id="exam_name" name="exam[exam_name]">

  <label for="exam_subject">Subject</label>
  <input type="text" id="exam_subject" name="exam[exam_subject]">

  <input type="hidden" name="exam[user_id]" value="<%= current_user.id %>">